@model WebProje2.Models.Siniflar.Departman

@{
    ViewBag.Title = "DepartmanGetir";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Departman Güncelleme İşlemleri</h2>
<br />
@using (Html.BeginForm("DepartmanGuncelle", "Departman", FormMethod.Post))
{
    <div class="form-group">
        <p style="color:darkgoldenrod">Departman Adı</p>
        @Html.TextBoxFor(x => x.DepartmanAd, new { @class = "form-control" })
        @Html.ValidationMessageFor(x=>x.DepartmanAd,"",new { @style = "color:red" })
        @Html.HiddenFor(x => x.Departmanid)
    </div>
    <button class="btn btn-warning">Güncelle</button>
}
